.container {
    text-align: center;
    //widows: 100px;
    width:95%;
    //height:60%;
   //  input {
   //     width: 100px;
   //     padding: 10px;
   //     font-size: 15px;
   //  }
    
    
 }
 ion-button{
  --background: #C0C0C0;
  --color: white;
 }