ion-card{
    margin: 4px;
    border-radius: 8px;
}
ion-avatar{
    margin: auto;
}
ion-footer{
    border-top: 1px solid #b1b1b1;
}
ion-label{
    // text-align: center;
    padding: 7px 7px 7px 20%;

}