<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mcategory" style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;">
      Tam remote control
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content style=" --background: #d7d8da4a;">
  <ion-card  >
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/tv.png">
  </ion-avatar>
  <ion-label >
    <p >Tv remote</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/dvd.png">
  </ion-avatar>
  <ion-label >
    <p >DVD Remote</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/ac.jpg">
  </ion-avatar>
  <ion-label >
    <p >AC</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/musicsystem.png">
  </ion-avatar>
  <ion-label >
    <p >Music system</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/hometheatre.png">
  </ion-avatar>
  <ion-label >
    <p >Home theatre</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/dth.png">
  </ion-avatar>
  <ion-label >
    <p >DTH</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/icon/tatasky.png">
  </ion-avatar>
  <ion-label >
    <p >Tata sky</p>    
  </ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light" >
    <ion-avatar >
      <img  src="../../../assets/HomePage/dyfo.png">
      <!-- <img  src="../../../assets/HomePage/tandt.jpg"> -->
      <!-- <img src="../../../assets/HomePage/smartx.png"> -->
      <!-- <img  src="../../../assets/HomePage/tandt.png"> -->
       <!-- <img  src="../../../assets/dyfo.png"> -->
      <!-- <img class="profile-set" src="assets/HomePage/sara_t.png"> -->
      <!-- <img src="assets/HomePage/wonder.png" alt="wondersolutions"> -->
    </ion-avatar>
  </ion-toolbar>
</ion-footer>