<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start" style="position:absolute">
      <ion-back-button defaultHref="/ttoperatiion" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; ">
      Records
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-avatar>
        <img src="../../../assets/dyfo.png">
      </ion-avatar>
      <ion-label>
        <h2>Ashish</h2>
        <h6>chaurasiya</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/dyfo.png">
      </ion-avatar>
      <ion-label>
        <h2>Ashish</h2>
        <h6>chaurasiya</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/dyfo.png">
      </ion-avatar>
      <ion-label>
        <h2>Ashish</h2>
        <h6>chaurasiya</h6>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="tTLockRecord()"></ion-button>
</ion-content>