<ion-header>
  <ion-toolbar class="profile-tool" style="--background: rgb(245, 248, 248); " >
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/mainpage" style="color:rgb(1, 0, 0);"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: black;">Mood Lighting</ion-title>  
  </ion-toolbar>
  </ion-header>
  <!-- preview element -->
<!-- <div class="preview" (click)="colorpick1()"></div> -->
<!-- colorpicker element -->

<!-- <div class="mood_div" > -->
  <ion-content class="ion-padding" fullscreen style="--background: #d7d8da4a;">

    <!-- <ion-list>
      <ion-radio-group (click)="selectOne($event)">
        <ion-list-header id="ion-list-here">
          <ion-label>You must choose one of color or mood_type</ion-label>
        </ion-list-header>
        <ion-item style="margin-top: 13px;">
          <ion-label>Select Mood Light Color</ion-label>
          <ion-radio slot="start" color="success" value="color"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Select Mood Type</ion-label>
          <ion-radio slot="start" color="success" value="moodType"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list> -->

    <div >

      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="sendmoodType('Power_on_button')">on</ion-button>
              <ion-button (click)="sendmoodType('Power_off_button')">Off</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="sendmoodType('channel_up_button')">+</ion-button>
              <ion-button (click)="sendmoodType('channel_down_button')">-</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="sendmoodType('mute_button')">Flash</ion-button>
              <ion-button (click)="sendmoodType('menu_button')">Strobe</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="sendmoodType('volume_up_button')">Fade</ion-button>
              <ion-button (click)="sendmoodType('volume_down_button')">Smooth</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
<div class="colorpicker" >
    <canvas id="picker" var="2" width="300" height="300" ></canvas>
  </div>
 
  <div  >
    <div class="controls" >
        <!-- <div><label>R</label> <input type="text" id="rVal" /></div>
        <div><label>G</label> <input type="text" id="gVal" /></div>
        <div><label>B</label> <input type="text" id="bVal" /></div> -->
        <div><label>RGB</label> <input type="text" disabled  class="preview" /></div>
        <div><label></label> <input  type="text" id="hexVal" disabled /></div>
        <!-- <div><label>MusicEffect</label> <input type="text" id="hexVal" /></div>
        <div><label>DiscoEffect</label> <input type="text" id="hexVal" /></div>
        <div><label>PartyEffect</label> <input type="text" id="hexVal" /></div>
        <div><label>DiscoEffect</label> <input type="text" id="hexVal" /></div>
        <div><label>PartyEffect</label> <input type="text" id="hexVal" /></div> -->

    </div>
  

<!-- <div>
  <ion-card >
    <ion-row>
      <ion-col size="12" style="padding-left: 10%; font-size: 15px; font-family: 'Times New Roman', Times, serif; margin-top: 10px;font-weight: bold;">
        SELECT MOOD TYPE
       </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding-left: 10%; font-size: 15px; font-family: 'Times New Roman', Times, serif; margin-top: 10px;font-weight: bold;">
        <ion-select placeholder="--Select--" (ionChange)="checkChecked($event)" ok-text="Okay" cancel-text="Cancel" >
          <ion-select-option value="Disco_Mood">Disco_Mood</ion-select-option>
          <ion-select-option value="Musical_Mood">Musical_Mood</ion-select-option>
        </ion-select>
       </ion-col> 
      
    </ion-row>
  </ion-card>
</div> -->
<ion-button expand="block" (click)="sendmoodcolor()">submit</ion-button>
</div>
</div>

     <!-- ---------Select Mood Type  -->
     <div *ngIf="SelectMood">
      <ion-card >
        <ion-row class="selectrow">
          <ion-col size="12" style="padding-left: 10%; font-size: 15px; font-family: 'Times New Roman', Times, serif; margin-top: 10px;font-weight: bold;">
            SELECT MOOD TYPE
           </ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size="12" style="padding-left: 10%; font-size: 15px; font-family: 'Times New Roman', Times, serif; margin-top: 10px;font-weight: bold;">
            <ion-select placeholder="--Select--" (ionChange)="checkChecked($event)" ok-text="Okay" cancel-text="Cancel" >
              <ion-select-option value="Power_on_button">Disco_Mood</ion-select-option>
              <ion-select-option value="mute_button">Musical_Mood</ion-select-option>
              <ion-select-option value="channel_up_button">Party_Mood</ion-select-option>
              <ion-select-option value="Power_off_button">Flash_Mood</ion-select-option>
              <ion-select-option value="volume_up_button">Strome_Mood</ion-select-option>
              <ion-select-option value="volume_down_button">Fade_Mood</ion-select-option>
              <ion-select-option value="menu_button">Smooth_Mood</ion-select-option>
            </ion-select>
           </ion-col> 
          
        </ion-row>
      </ion-card>
      <ion-button expand="block" (click)="sendmoodType()">submit</ion-button>
    </div>
      <!--------------------------- Ended Mood type Selection -->




<!-- <ion-card>
  <div *ngIf="user.room1" class="fullscreen-container" >
    <ion-card-header style="font-weight:bold;font-size: 14px;text-align: center;">SELECT ROOM TO ASSIGN DEVICE</ion-card-header>
    <div class="allRooms " *ngFor="let r of user.rooms" style="float:left;width:45%;height: 45%;padding-left:2.5em;">
      <div style="margin-right:2.5em;width:88%;" (click)="addedRooms(r)">
        <img src="{{r.imgPath}}" height="100px" width="100%" style="border:1.6px solid blue;border-radius:25%;">
        <p style="text-align: center;font-size:16px; text-overflow:ellipsis;overflow: hidden;white-space: nowrap;">{{r.name}}</p>
      </div>
    </div>
  </div>
</ion-card> -->
<!-- <ion-card *ngIf="user.editRoom1" style="padding:15px 20px;">
  <img src="{{roomImg}}" style=" margin-bottom:15px ; width:99%;height:15%;border-radius:6%;">
  <span style="color:red">*(Use Unique Room Name To identify Your room)</span><br />
  <ion-label position="stacked">Room Name:</ion-label>
  <ion-input id="input" required type="text" value="{{selectedRooms}}"  style="border: 1px solid blue; width:90%">
  </ion-input>
  <ion-button (click)="saveRoomWithApi()">Save Room</ion-button>
</ion-card> -->
</ion-content>