<ion-header >
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start" style="position:absolute">
      <ion-back-button defaultHref="/securityLock" (click)="dismiss()"  style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;text-transform: capitalize;">
     Lock Status
    </ion-title>  
    <!-- <p  name='trash' slot="end" style="color: black; font-size: 30px;margin-right: 10px;">{{d_on}}</p>  -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="statusCard" *ngFor="let l of lock_response" >

    <img style="width: 100%; height: 100%;" id={{l.id}}  src="{{l.img}}"  (click)="changeStatus($event,l.id,l.status)">
    
    
  
  </ion-card>
</ion-content>