<ion-header>
  <ion-toolbar class="profile-tool" color="light" >
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/addnewmodule"></ion-back-button>
    </ion-buttons>
    <ion-title>HARDWARE SYNC SSID</ion-title>  
    <ion-buttons slot="end" (click)="enableUrl()">
      <ion-button><ion-icon slot="icon-only" name="wifi"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <div>
      <p>First click Configure hardware button</p>
      <ion-button style="--background: #C0C0C0;" expand="full" (click)="enableUrl()">Configure Hardware</ion-button>
    </div>
    <div>
      <p>After Configuration hardware , you have switch home network.please click below button</p>
      <ion-button style="--background: #C0C0C0;" expand="full" (click)="disable()">Home Wi-Fi</ion-button>
    </div>
   
    <ion-list  *ngFor="let data of results1">
      <ion-item *ngIf="show" (click)="wificheck(data.SSID)" detail>
         <ion-label>
          <p style="margin-left: 10px;">{{data.SSID}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <div>
      <p>After Configuration home Wi-Fi , Please select Next</p>
      <ion-button style="--background: #C0C0C0;" expand="full" (click)="room()">Next </ion-button>
    </div>
    
  </ion-content>