<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/securitymodule" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Add Lock
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="wifi-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;margin-top: 30px;" *ngIf="scanbtn">
    <p>The phone need to be within 2 meters of the Smart Lock during the Pairing process.</p>
    <img src="../../../assets/HomePage/lockScan.jpeg">
    <h2>Touch any key to Activate the KeyPad</h2>
    <ion-button  class="btn"  expand="round" (click)="scanLock()">scan </ion-button>
    <p>Please touch any key to activate the Lock and put it in PAIRING Mode. Please Click above Scan Button...</p>
  </div>
<div style="text-align: center;margin-top: 30px;" *ngIf="addbtn"> 
  <ion-button class="btn" expand="round" (click)="addLock()">Add Lock </ion-button>
  <!-- <ion-button expand="full" (click)="lockInitialize()">Initialize lock</ion-button> -->
</div>

<ion-card>
  <p>{{user.lockData}}</p>
</ion-card>
</ion-content>