<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start" style="position:absolute">
      <ion-back-button defaultHref="/ttoperatiion" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Gateway
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button expand="round" (click)="scanLock()">scan</ion-button>
  <ion-button expand="round" (click)="scanwifi()">wifi</ion-button>
  <ion-button expand="round" (click)="scanLock()">scan</ion-button>
</ion-content>