<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ttlockfingerlist" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Add Fingerprint
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="addfing(form)">
    <ion-input name="name" type="text" ngModel required placeholder="Please enter a name"></ion-input>
    <ion-button expand="full" type="submit" [disabled]="form.invalid">Save</ion-button>
  </form>
<ion-button (click)="addFingerPrintforTTLock()">start adding finger</ion-button>
</ion-content>