<app-side-menu></app-side-menu>

<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mainpage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="modes">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>Modes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Guest">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanner">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>