<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mainpage" style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;">
      SET UP A DEVICE
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content style=" --background: #d7d8da4a;">
  <ion-card  >
    <ion-item (click)='automationmodule()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/triomodule.jpeg">
  </ion-avatar>
  <ion-label >
    <p >Automation</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)='tammodule()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/IRBlaster.png">
  </ion-avatar>
  <ion-label >
    <p >Tam Remote</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card  >
    <ion-item (click)='scannewModuleQr()' detail> 
  <ion-avatar slot="start"> 
    <img src="../../../assets/product_image/mood.png">
  </ion-avatar>
  <ion-label>
    <p >Mood Light Module</p>     
  </ion-label>
    </ion-item>
  </ion-card> -->

  <!-- <ion-card  >
    <ion-item (click)='moduleplugclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/plug.png"> 
  </ion-avatar>
  <ion-label >
    <p >Plug</p>    
  </ion-label>
    </ion-item>
  </ion-card> -->

  <!-- <ion-card  >
    <ion-item (click)='scannewModuleQr()' detail>
  <ion-avatar slot="start">   
    <img src="../../../assets/product_image/hub.png">
  </ion-avatar>
  <ion-label >
    <p >Hub</p>    
  </ion-label>
    </ion-item>
  </ion-card> -->

  <ion-card  >
    <ion-item (click)='modulesensorclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/SmokeHumidityDetector.png">
  </ion-avatar>
  <ion-label >
    <p >Sensor</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card  >
    <ion-item (click)='securitymodule()' detail> 
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/doorbell.png">
  </ion-avatar>
  <ion-label >
    <p >Security</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card  >
    <ion-item (click)='modulecurtainclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/CurtainMotor.png">
  </ion-avatar>
  <ion-label >
    <p >Curtain Motor</p>    
  </ion-label>
    </ion-item>
  </ion-card> -->

  <!-- <ion-card  >
    <ion-item (click)='scannewModuleQr()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/‌indoorCamera2.png">
  </ion-avatar>
  <ion-label >
    <p >Camera Indoor</p>    
  </ion-label>
    </ion-item>
  </ion-card> -->


  <!-- <ion-card  >
    <ion-item (click)='scannewModuleQr()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/OutdoorCamera1.png">
  </ion-avatar>
  <ion-label >
    <p >Camera Out Door </p>    
  </ion-label>
    </ion-item>
  </ion-card> -->

  <!-- <ion-card >
    <ion-item (click)='clicklockModule()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/doorlock.png">
  </ion-avatar>
  <ion-label>
    <p >Lock</p>    
  </ion-label>
    </ion-item>
  </ion-card> -->
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light" >
    <ion-avatar >
      <img  src="../../../assets/HomePage/dyfo.png">
      <!-- <img src="../../../assets/HomePage/smartx.png"> -->
      <!-- <img  src="../../../assets/HomePage/tandt.jpg"> -->
       <!-- <img  src="../../../assets/dyfo.png"> -->
      <!-- <img class="profile-set" src="assets/HomePage/sara_white.jpg"> -->
      <!-- <img src="assets/HomePage/wonder.png" alt="wondersolutions"> -->
    </ion-avatar>
  </ion-toolbar>
</ion-footer>