.opCard{
    text-align: center;
   ion-button{
    --border-radius: 50%;
    --background: transparent;
    // --margin: 0 auto;
    --color: black;
    width: 70px;
    height: 70px;
    ion-icon{
        --color: #524e4e;
        font-size: 24px;
    }
   }

}
@media screen and (max-width: 411px){
    .divbutton{
      margin-left: 108px;
    }
}
.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
 }
 @media all and (max-width: 319px) and (min-width: 220px) {
    #div_center {
        margin-left: 38px;
    }
  }
  @media all and (max-width: 350px) and (min-width: 320px) {
    #div_center {
        margin-left: 68px;
    }
  }
  @media all and (max-width: 390px) and (min-width: 351px) {
    #div_center {
        margin-left: 86px;
    }
  }
  @media all and (max-width: 411px) and (min-width: 391px) {
    #div_center {
        margin-left: 112px;
    }
  }
  @media all and (max-width: 460px) and (min-width: 412px) {
    #div_center {
        margin-left: 103px;
    }
  }
  @media all and (max-width: 620px) and (min-width: 461px) {
    #div_center {
        margin-left: 34%;
    }
  }
  @media all and (max-width: 1260px) and (min-width: 621px) {
    #div_center {
        margin-left: 40%;
    }
  }