#regBackBtn{
    position: relative;
    height: 35px;
    width: 35px;
    ion-icon{
        height: 80%;
        width: 80%;
        padding: 5px;
    }
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: -6px 0px;
  background-color: #9c9c9c;
  border: 0.5px solid;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}
.stepline{
  width: 25px;
  height: 3px;
  display: inline-block;
  border: none;
  background-color: #bbbbbb;
}
/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
  opacity: 1;
}




  
// ion-icon{
//   margin-top: -23px;
//   width: 20px;
//   height: 22px;
//   margin-right: 5px;
// }
ion-badge{
float: right;
margin-right: 5px;
}
ion-input{
  font-size: 14px;
  height: 50px;
  margin: 10px 0px;
  background: #80808052;
}
#div_otp{
  // width: 100%;
  // position: relative;
}
.show_otp{
  position: relative;
  background-color:  white;
  border-radius: 22px;
  bottom: 45%;
  left: 10%;
  text-align: center;
}
.show_otp button{
box-shadow: 2px 2px rgb(166, 221, 134);
border: 1px solid rgb(128, 13, 173);
margin-bottom: 10px;
}
.show_otp input{
border: 1px solid rgb(128, 13, 173);
border-radius: 7%;

}
.error-message {
  color: var(--ion-color-danger);
  margin-left: 14%;
}
.ion-card{
margin-top: 20px;
}
.ion-button1{
  margin-top: 20px;
  padding: 0px 15px;
}
.ion-icon-eye{

  float: right;
    margin: 10px 0px 0px 4px;
    width: 20px;
    height: 20px;
    background: #8080806e;
    padding: 15px 5px;
}



.show_otp input{
border: 1px solid rgb(128, 13, 173);
border-radius: 7%; 
}
.resend_otp{
  margin-top: 6px;
 text-align: right;
}

.reg-icon{
  padding-top: 14%;
  zoom: 1.4;
}


// #item-text{
//   height: 42px;
//   --background: rgba(190, 190, 190, 0.26);
// }
    // for otp popup
.deviceeditback{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.8);
  z-index: 9999;
 }