ion-button{
    --border-radius: 50%;
    --background: #fff;
    // --margin: 0 auto;
    --color: black;
    width: 72px;
    height: 72px;
    font-size: 25px;
    ion-icon{
        --color: #524e4e;
        font-size: 24px;
    }
   }