
<ion-content style="--background: #d7d8da4a;">
  <ion-row style="text-align: center;margin-top: 17px;">
    <ion-col><ion-button (click)="keyPress('one_button')" class="click1">1</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('two_button')" class="click2">2</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('three_button')" class="click3">3</ion-button></ion-col>
  </ion-row>

  <ion-row style="text-align: center;">
    <ion-col><ion-button (click)="keyPress('four_button')" class="click4">4</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('five_button')" class="click5">5</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('six_button')" class="click6">6</ion-button></ion-col>
  </ion-row>

  <ion-row style="text-align: center;">
    <ion-col><ion-button (click)="keyPress('seven_button')" class="click7">7</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('eight_button')" class="click8">8</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('nine_button')" class="click9">9</ion-button></ion-col>
  </ion-row>

  <ion-row style="text-align: center;">
    <ion-col><ion-button (click)="keyPress('star_button')">*</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('zero_button')" class="click0">0</ion-button></ion-col>
    <ion-col><ion-button (click)="keyPress('hash_button')">#</ion-button></ion-col>
  </ion-row>
  <ion-row style="text-align: center;margin-top: 18px;">
    <ion-col size='12' (click)="dismiss()"><ion-icon name="ios-arrow-down" src="assets/iconi5/chevron-down-sharp.svg"  style="font-size: 25px;"></ion-icon></ion-col>
  </ion-row>
</ion-content>

