<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mainpage" (click)="backbutton()" style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;">
      ADDED MODULE
    </ion-title>   
    <ion-buttons slot="end" (click)='add_devices()'>
      <ion-button>
        <ion-icon slot="icon-only"  name='add' ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f7f4fae6;">
  <div>
  <ion-card *ngFor="let dmodule of devicemodule" (click)="clickDeviceModule(dmodule.pi_id,dmodule.name)">
    <ion-item detail> 
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/triomodule.jpeg">
  </ion-avatar>
  <ion-label>
    <p >{{dmodule.name}}</p>    
    <p >{{dmodule.pi_id}}</p>      
  </ion-label>
    </ion-item>
  </ion-card>
</div>

<ion-card *ngFor="let imodule of irmodule" (click)="clickIRModule(imodule.id,imodule.counter,imodule.pi_id,imodule.name)">
  <ion-item detail>
<ion-avatar slot="start">
  <img src="../../../assets/product_image/IRBlaster.png">
</ion-avatar>
<ion-label>
  <p >{{imodule.name}}</p>    
  <p >{{imodule.pi_id_name}}</p>      
</ion-label>
  </ion-item>
</ion-card>

<ion-card *ngFor="let mmodule of user.moodModule" (click)="clickMoodModule(mmodule.id,mmodule.pi_id)">
  <ion-item detail>
<ion-avatar slot="start">
  <img src="../../../assets/product_image/mood.png">
</ion-avatar>
<ion-label>
  <p >{{mmodule.name}}</p>    
  <p >{{mmodule.pi_id}}</p>      
</ion-label>
  </ion-item>
</ion-card>

<ion-card *ngFor="let lmodule of lockres" (click)="clickLockModule(lmodule.id,lmodule.serial_number)">
  <ion-list>
  <ion-item detail> 
<ion-avatar slot="start">
  <img src="../../../assets/product_image/doorlock.png">
</ion-avatar>
<ion-label>
  <p >Door Lock</p>    
  <p >{{lmodule.serial_number}}</p>      
</ion-label>
  </ion-item>
</ion-list>
</ion-card>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-item (click)="gotowifipage()"
      style="position: absolute; margin: auto; border: 1px solid; right: 20px; border-radius: 30px; height: 38px;">
      <ion-icon style=" margin-top: 0px;" slot="start" name="wifi"></ion-icon>
      <ion-label style=" margin-top: 0px;">Wi-Fi Setting</ion-label>
    </ion-item>
  <!-- </ion-fab-list> -->
    <!-- <ion-fab-list side="top">
      <ion-item (click)="gotoirproductpage()"
      style="position: absolute; margin: auto; border: 1px solid; right: 20px; border-radius: 30px; height: 38px;">
      <ion-icon style=" margin-top: 0px;" slot="start" name="aperture"></ion-icon>
      <ion-label style=" margin-top: 0px;">Tam Learning</ion-label>
    </ion-item>
    </ion-fab-list> -->

    <!-- <ion-fab-list side="bottom">
      <ion-item (click)="gotodyfolistlist()"
      style="position: absolute; margin: auto; border: 1px solid; right: 55px; border-radius: 30px; height: 38px;">
      <ion-icon style=" margin-top: 0px;padding-right: 20px;padding-bottom: 10px;"  src="assets/iconi5/lock-closed.svg"></ion-icon>
      <ion-label style=" margin-top: 0px;">Dyfo lock</ion-label>
    </ion-item>
    </ion-fab-list> -->

   
    
  </ion-fab-list>
</ion-fab>



</ion-content>