<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position:absolute">
      <ion-button (click)='dismiss()' style="color:#fff;"><ion-icon name='arrow-back'></ion-icon></ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Lock Records
    </ion-title>   
    <ion-buttons slot="primary">
      <ion-button (click)="delMenu = !delMenu" color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="delMenu" *ngIf='delMenu'>
    <ion-item (click)='del_record = true; delMenu=false;'>DELETE</ion-item>
    <ion-item (click)='deleteAllRecords(); delMenu=false;'>DELETE ALL</ion-item>
  </ion-card>
</ion-header>

<ion-content style="--background: #d7d8da4a;">
  <ion-item class="record" *ngFor='let log of rec_data'>
    <!-- <div *ngIf='log.status== false' style="border: 2px solid green; border-radius: 50%; font-size: 24px; height: 50px; width: 50px; color: green;"> -->
      <ion-icon *ngIf='log.status== false' style="color: green;" name="lock-closed"></ion-icon>
    <!-- </div> -->
    <!-- <div *ngIf='log.status== true' style="border: 2px solid green; border-radius: 50%; font-size: 24px; height: 50px; width: 50px; color: red;"> -->
      <ion-icon *ngIf='log.status== true' style="color: red;" name="lock-open"></ion-icon>
    <!-- </div> -->
    <p style="margin-left: 20px;">{{log.action_time.substr(0, 10)}}</p>
    <span style="margin-left: 20px;">Time: {{log.action_time.substr(11)}}</span>
    
    <ion-button *ngIf='del_record' (click)='deleteRecord(log.id)' style="--background: transparent; color: red;" slot="end"><ion-icon name='trash'></ion-icon></ion-button>
  </ion-item>
</ion-content>