// ion-input.ng-invalid{
//     border-bottom: 1px solid red;
// }
// ion-input.ng-valid{
//     border-bottom: 1px solid green;
// }
.error-message{
    color: red;
    padding-left: 50px;
    // border-bottom: 1px solid red;
}
ion-button{
    --background: #C0C0C0;
    --color: white;
}