<ion-header>
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()"> 
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;">
      Set Password
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content fullscreen fullscreen style=" --background: white;">
  <form [formGroup]="loginForm" (ngSubmit)='submit()'>
  <div style="margin-top: 65px;">
    <ion-list>
    <div class="form-group">
  <ion-item>  
    <ion-icon src="assets/iconi5/lock-closed-outline.svg" color="dark" slot="start"></ion-icon>
    <ion-input type='password'  class="form-control" formControlName="password"  autocorrect="on" autofocus="on" [type]="showpassword ? 'password': 'text'" clearOnEdit="true" color="dark" type="password" placeholder="Enter Old Password" required="true"></ion-input>  
    <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglepass()"></ion-icon>    
    
  </ion-item>
</div> 
<div class="error-messages">
  <ng-container *ngFor="let error of error_messages.password">
    <span class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
      {{ error.message }}
    </span>
  </ng-container>
</div>
</ion-list>

<ion-list>
  <div class="form-group">
<ion-item>  
  <ion-icon src="assets/iconi5/lock-closed-outline.svg"color="dark" slot="start"></ion-icon>
  <ion-input type='password'  class="form-control" formControlName="newpassword"  autocorrect="on" autofocus="on" [type]="showpassword ? 'password': 'text'" clearOnEdit="true" color="dark" type="password" placeholder="Enter New Password" required="true"></ion-input>  
  <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglepass()"></ion-icon>    
  
</ion-item>
</div> 
<div class="error-messages">
<ng-container *ngFor="let error of error_messages.newpassword">
  <span class="error-message" *ngIf="loginForm.get('newpassword').hasError(error.type) && (loginForm.get('newpassword').dirty || loginForm.get('newpassword').touched)">
    {{ error.message }}
  </span>
</ng-container>
</div>
</ion-list>

<ion-list>
  <div class="form-group">
<ion-item>  
  <ion-icon src="assets/iconi5/lock-closed-outline.svg" color="dark" slot="start"></ion-icon>
  <ion-input type='password'  class="form-control" formControlName="cpassword"  autocorrect="on" autofocus="on" [type]="showpassword ? 'password': 'text'" clearOnEdit="true" color="dark" type="password" placeholder="Enter Confirm Password" required="true"></ion-input>  
  <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglepass()"></ion-icon>    
  
</ion-item>
</div> 
<div class="error-messages">
<ng-container *ngFor="let error of error_messages.cpassword">
  <span class="error-message" *ngIf="loginForm.get('cpassword').hasError(error.type) && (loginForm.get('cpassword').dirty || loginForm.get('cpassword').touched)">
    {{ error.message }}
  </span>
</ng-container>
<div class="error-message" *ngIf="!loginForm.get('cpassword').errors && loginForm.hasError('passwordNotMatch') && (loginForm.get('cpassword').dirty || loginForm.get('cmpassword').touched)">
  Password and Confirm Password fields should match
</div>
</div>
</ion-list>
 

  <ion-button  expand="block" style="--background: #e7eaec80;
        color: black;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        margin-left: 0px;" class="form-control" [disabled]="!loginForm.valid" type="submit" >Update</ion-button>
        </div>
      </form>
</ion-content>
