<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/mainpage"  ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Guest List
    </ion-title>   
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
  <ion-item *ngFor="let i of guestlist" lines="full" (click)="guestClick(i.id,i.email,i.room,i.valid_until,i.is_active)">
    <ion-avatar slot="start" id="avatar">
      <ion-icon name="person-outline">
      </ion-icon>
    </ion-avatar>
    <ion-label>
    <h3>Email:&nbsp;{{i.email}}</h3>
    <h3>Validity:&nbsp; {{i.valid_until}}</h3>
    <h3>Room_Id:&nbsp;&nbsp;{{i.room}}</h3>
    <h3>Active:&nbsp;&nbsp;{{i.is_active}}</h3>
    </ion-label>
    
  </ion-item>
   
  </ion-row>
</ion-grid>
</ion-content>