<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/mcategory" style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;">
      Automation module
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card  >
    <ion-item (click)='moduledeviceclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/triomodule.jpeg">
  </ion-avatar>
  <ion-label >
    <p >Device Module</p>    
  </ion-label>
    </ion-item>
  </ion-card>


  <ion-card  >
    <ion-item (click)='moduleplugclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/plug.png"> 
  </ion-avatar>
  <ion-label >
    <p >Plug</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card  >
    <ion-item (click)='moduledeviceclick1()' detail>
  <ion-avatar slot="start">   
    <img src="../../../assets/product_image/hub.png">
  </ion-avatar>
  <ion-label >
    <p >Hub</p>    
  </ion-label>
    </ion-item>
  </ion-card>


  <ion-card  >
    <ion-item (click)='modulecurtainclick()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/CurtainMotor.png">
  </ion-avatar>
  <ion-label >
    <p >Curtain Motor</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card  >
    <ion-item (click)='moduledeviceclick1()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/mood.png">
  </ion-avatar>
  <ion-label >
    <p >Lighting Solutions</p>    
  </ion-label>
    </ion-item>
  </ion-card>

  <ion-card  >
    <ion-item (click)='moduledeviceclick1()' detail>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/mood.png">
  </ion-avatar>
  <ion-label >
    <p >RGB Lights</p>    
  </ion-label>
    </ion-item>
  </ion-card>

 
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light" >
    <ion-avatar >
      <img  src="../../../assets/HomePage/dyfo.png">
      <!-- <img  src="../../../assets/HomePage/tandt.jpg"> -->
      <!-- <img  src="../../../assets/HomePage/smartx.png"> -->
       <!-- <img  src="../../../assets/dyfo.png"> -->
      <!-- <img class="profile-set" src="assets/HomePage/sara_t.png"> -->
      <!-- <img src="assets/HomePage/wonder.png" alt="wondersolutions"> -->
    </ion-avatar>
  </ion-toolbar>
</ion-footer>