ion-card{
    margin: 2px;
}
// #lock1{
//     background: url('/assets/images/lock1.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 120px;
//     margin: 5px 0;
//     border-radius: 0;
// }
#lock1{
    // background: url('/assets/images/lock1.png');
    background: url('/assets/images/lock1_dyfo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
}



// page-qr-scanner {
    img {
      opacity: 0.5;
      max-width: 95%;
      max-height: calc(50% - 100px);
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
//   }