<ion-header>
  <ion-toolbar style="--background:aliceblue;">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/mainpage" (click)="modalctrl.dismiss()" style="color:black"></ion-back-button>
      <!-- <ion-back-button (click)="modalcontroler.dismiss()" style="color:#fff;"></ion-back-button> -->
    </ion-buttons>
    <ion-title class="ion-text-center" style="color:black">Members</ion-title>
    <ion-icon (click)="menu()" name='md-more' slot="end" style="color: black; font-size: 30px;margin-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content  style="--background:rgb(244 218 237) ;">
  <ion-card >
     <ion-item >
    <span>{{memberList}}</span>
  </ion-item>
</ion-card>
<!-- <ion-card *ngFor="let m of membersList">
  <ion-item >
    {{m.account}}
    <span>{{m.account}} {{m}}</span>
  </ion-item> 
</ion-card> -->
</ion-content>