<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(245, 248, 248); ">
    <ion-buttons slot="start" style="position:absolute">
      <ion-back-button defaultHref="/mainpage" (click)="backbutton()" style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: black;">
      ADDED MODULE
    </ion-title>   
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #f7f4fae6;">
  <div >
  <ion-card *ngFor="let dmodule of devicemodule" (click)="clickDeviceModule(dmodule.pi_id,dmodule.name)">
    <ion-item>
  <ion-avatar slot="start">
    <img src="../../../assets/product_image/triomodule.jpeg">
  </ion-avatar>
  <ion-label>
    <p >{{dmodule.name}}</p>    
    <p >{{dmodule.pi_id}}</p>      
  </ion-label>
    </ion-item>
  </ion-card>
</div>

<ion-card *ngFor="let imodule of irmodule" (click)="clickIRModule(imodule.id,imodule.counter,imodule.pi_id,imodule.name)">
  <ion-item>
<ion-avatar slot="start">
  <img src="../../../assets/product_image/IRBlaster.png">
</ion-avatar>
<ion-label>
  <p >{{imodule.name}}</p>    
  <p >{{imodule.pi_id}}</p>      
</ion-label>
  </ion-item>
</ion-card>

<ion-card *ngFor="let mmodule of user.moodModule" (click)="clickMoodModule(mmodule.id,mmodule.pi_id)">
  <ion-item >
<ion-avatar slot="start">
  <img src="../../../assets/product_image/mood.png">
</ion-avatar>
<ion-label>
  <p >{{mmodule.name}}</p>    
  <p >{{mmodule.pi_id}}</p>      
</ion-label>
  </ion-item>
</ion-card>

<ion-card *ngFor="let lmodule of lockres" (click)="clickLockModule(lmodule.id,lmodule.serial_number)">
  <ion-list>
  <ion-item>
<ion-avatar slot="start">
  <img src="../../../assets/product_image/doorlock.png">
</ion-avatar>
<ion-label>
  <p >Door Lock</p>    
  <p >{{lmodule.serial_number}}</p>      
</ion-label>
  </ion-item>
</ion-list>
</ion-card>
<!-- <div *ngIf="user.module_qrbutton">
  <ion-button expand="full" color="light" style="margin: auto 11px;" (click)="addnewModule()">Add New Module <ion-icon slot="end" name="arrow-dropright"></ion-icon> </ion-button>
</div>
<div *ngIf="user.lock_qrbutton">
  <ion-button expand="full" color="light" style="margin: auto 11px;" (click)="locksetup()">Add New Lock <ion-icon slot="end" name="arrow-dropright"></ion-icon> </ion-button>
</div> -->
</ion-content>