<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start" style="position:absolute">
      <ion-back-button defaultHref="/securitymodule" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Security Door Lock 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Connect your Moblie Phone to Wi-Fi</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Enter 2.4 GHz Wi-Fi Network and  Password
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="formInput">
      <!-- <ion-item> -->
        <ion-label >Wi-Fi Name</ion-label>
        <ion-input id="ssid" type="text" placeholder="Please Enter WiFi name"></ion-input>
      <!-- </ion-item> -->
     
    <ion-label >Password</ion-label>
    <ion-input id="password" type="password" placeholder="Please Enter Password"></ion-input>
    <ion-button expand="block" fill="outline"  (click)="next()">Next</ion-button>
    </div>
    

  </ion-card>

  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Reset the Device First</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Power on the device and confirm that the smart door lock works normally
      <ion-item>
      <ion-label>Check when indicator is blinking rapidly</ion-label>
    <ion-checkbox color="primary" checked="false" (ionChange)="navigateNext($event)" slot="start"></ion-checkbox>
  </ion-item>
</ion-card-content>
  </ion-card>
</ion-content>
