<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ttoperatiion" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Passcodes
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="passcodeAdd()"   >
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full"  (click)="passcodepersonDetails()">
      <ion-avatar slot="start" id="avatar">
        <ion-icon name="finger-print-outline">
        </ion-icon>
      </ion-avatar>
      <ion-label id="label">Ashish chaurasiya</ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-button (click)="fingList()">fing list</ion-button> -->
  <!-- <ion-button (click)="fingerAddButton()" >Add lock</ion-button> -->
</ion-content>